doctype html
html
  head
    title= title
    link(href="/stylesheets/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/stylesheets/fontawesome-all.min.css", rel="stylesheet", type="text/css")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav(class="navbar navbar-expand-lg navbar-dark bg-dark")
      a(class="navbar-brand", href="/") Waterr
      button(class="navbar-toggler", type="button", data-toggle="collapse", data-target="#navbarNavAltMarkup", aria-controls="navbarNavAltMarkup", aria-expanded="false", aria-label="Toggle navigation")
        span(class="navbar-toggler-icon")
      div(class="collapse navbar-collapse", id="navbarNavAltMarkup")
        div(class="navbar-nav")
          a(class="nav-item nav-link " +( (active_route == '/')? "active" : ""), href="/") Insta zalévání
          a(class="nav-item nav-link " +( (active_route == '/pumps-settings')? "active" : ""), href="/pumps-settings") Nastavení kytek

    block content
    script(src='/javascripts/axios.min.js')
    script(src='/javascripts/circletype.min.js')
    script(src='/javascripts/main.js')
    
